{{#each objects}}
  <div class="col">
    <div class="card border-dark" data-bs-toggle="modal" data-bs-target="#modal" id="object-{{id}}">
      <div class="color">
        <img class="img-fluid" src={{imgURL}} class="card-img-top">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{objectName}}</h5>
        <p class="card-text">{{description}}</p>
      </div>
    </div>
  </div>
{{/each}}

