<footer>
    <div class="line"></div>
    <span>Низамов Артем Рустамович</span>

    <a href="https://t.me/Nimartem" target="_blank" title="Написать в Telegram" rel="noopener noreferrer">
        <img class="img-fluid" src="/telegram-icon.70a24ecb.png">
    </a>

    <a href="https://vk.com/nimartemx13" target="_blank" title="Написать в VK" rel="noopener noreferrer">
        <img class="img-fluid" src="/vk-icon.855ff3ae.png">
    </a>

    <a>
        <img class="img-fluid" src="/discord-icon.a1200344.png">
    </a>
</footer>