<header class="nav">
    <img class="img-fluid" class="nav-item" src="/1593410642_3.85f10a0a.jpg">
    <span class="nav-item">{{companyName}}</span>
    <button class="nav-item" id="toastbtn">
        {{buttonText}}
    </button>
</header>