<div class="modal fade" id="new-card-modal" tabindex="-1" aria-labelledby="new-card-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-card-modal-label">Добавить новую карточку</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="new-card-form">
          <div class="mb-3">
            <label for="type" class="form-label">Изображение</label>
            <input type="text" class="form-control" id="new-img" name="new-img">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="new-name" name="new-name">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" id="new-description" name="new-description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" id="save-new-button">Сохранить</button>
      </div>
    </div>
  </div>
</div>