<div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; bottom: 0; right: 15px;">
    <div class="toast-header">
    <strong class="mr-auto">Варнинг</strong>
    <small>Только что</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="toast-body">
    Данный функционал пока что не доступен :(
    </div>
</div>