@media (min-width: 576px) {
  .container {
    width: auto; } }
@media (min-width: 768px) {
  .container {
    width: auto; } }
@media (min-width: 992px) {
  .container {
    width: auto; } }
@media (min-width: 1200px) {
  .container {
    width: 1200px; } }
.container {
  width: 1400px; }

.container {
  width: 1600px; }

body h1 {
  margin-bottom: 30px;
  margin-left: 50px; }
body .my-container {
  margin: auto;
  display: flex;
  width: 1000px;
  flex-direction: column; }
  body .my-container header {
    width: 100%;
    margin: auto;
    border: 1px solid blue;
    height: 60px;
    padding-left: 32px; }
    body .my-container header img {
      margin-left: 10px;
      margin-top: 13px;
      width: 50px;
      height: 40px; }
    body .my-container header span {
      position: relative;
      left: 25px;
      bottom: -15px; }
    body .my-container header button {
      background-color: blue;
      position: relative;
      width: 60px;
      height: 30px;
      color: white;
      border: 0px;
      left: 680px;
      bottom: -15px; }
  body .my-container .cube-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 5%; }
    body .my-container .cube-container .card {
      width: 250px;
      height: 250px;
      margin-right: 70px;
      border-width: 1px;
      border-style: solid;
      text-align: left;
      top: 0;
      bottom: 0;
      margin-bottom: 175px;
      margin-top: -5px;
      display: block; }
      body .my-container .cube-container .card:nth-child(1) {
        background-color: #321e14; }
      body .my-container .cube-container .card:nth-child(2) {
        background-color: #643c28; }
      body .my-container .cube-container .card:nth-child(3) {
        background-color: #965a3c; }
      body .my-container .cube-container .card:nth-child(4) {
        background-color: #c87850; }
      body .my-container .cube-container .card:nth-child(5) {
        background-color: #fa9664; }
      body .my-container .cube-container .card:nth-child(6) {
        background-color: #ffb478; }
      body .my-container .cube-container .card:nth-child(7) {
        background-color: #ffd28c; }
      body .my-container .cube-container .card:nth-child(8) {
        background-color: #fff0a0; }
      body .my-container .cube-container .card:nth-child(9) {
        background-color: #ffffb4; }
      body .my-container .cube-container .card:nth-child(10) {
        background-color: #ffffc8; }
      body .my-container .cube-container .card:nth-child(11) {
        background-color: #ffffdc; }
      body .my-container .cube-container .card:nth-child(12) {
        background-color: ivory; }
      body .my-container .cube-container .card h2 {
        position: relative;
        top: 250px; }
      body .my-container .cube-container .card p {
        position: relative;
        top: 250px; }
  body .my-container footer {
    width: 100%;
    margin: auto; }
    body .my-container footer .line {
      border-top: 1px solid black;
      height: 10px; }
    body .my-container footer img {
      width: 3%;
      height: 3%;
      float: right;
      margin: 0 0 8px 8px; }

/*# sourceMappingURL=style.css.map */
