@import './mixins';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import "../../node_modules/bootstrap/scss/functions";
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@include media-breakpoint-up(sm) {
    .container{
      width: auto;
    }
  }
  @include media-breakpoint-up(md) { 
    .container{
      width: auto;
    }
   }
  @include media-breakpoint-up(lg) { 
    .container{
      width: auto;
    }
   }
  @include media-breakpoint-up(xl) { 
    .container{
      width: 1200px;
    }
   }
  @include media-breakpoint-up(xxl) { 
    .container{
      width: 1400px;
    }
   }
  
   @include media-breakpoint-up(xxxl) { 
    .container{
      width: 1600px;
    }
   }

body {

    h1 {
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .my-container {
        margin:auto;
        display: flex;
        width: 1000px;
        flex-direction: column;
        header {
            width: 100%;
            margin: auto;
            border: 1px solid blue;
            height: 60px;
            padding-left: 32px;
            
            img {
                margin-left: 10px;
                margin-top: 13px;
                width: 50px;
                height: 40px;
            }
    
            span {
                position: relative;
                left: 25px;
                bottom: -15px;
            }
    
            button {
                background-color: blue;
                position: relative;
                width: 60px;
                height: 30px;
                color: white;
                border: 0px;
                left: 680px;
                bottom: -15px;
            }
        }
    
        .cube-container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
    
            width: 100%;
            margin-left: 5%;
    
            .card {
                @include cards;
                h2 {
                    position: relative;
                    top: $cube-size;
                }
    
                p {
                    position: relative;
                    top: $cube-size;
                }
            }
        }
    
        footer {
            width: 100%;
                margin: auto;
                .line {
                    border-top: 1px solid black;
                    height: 10px;
                }
                img {
                    width: 3%;
                    height: 3%;
                    float: right;
                    margin: 0 0 8px 8px;
                }
        }
    }
}